body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;    
    margin: 20px;
    border-radius: 50px;
    margin: 0;

}

body h1{
    color: deepskyblue;
}
.conflicto{
    color: dimgray;
}

.conflicto{
    color: black;
}

footer{
    color: white;
    background-color: deeppink;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
}